*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.section{
    background-color: #F2F2F2;
    padding: 0 0 100px;
    height: auto;
}
.navigetionBar{
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    align-items: center;
    max-width: 1349px;
    margin: auto;
}
#clsoeIcon{
    margin: 50px 0 0 200px;
}
.sideBarHide{
    height: 100%;
    position: absolute;
    top: 0;
    transform:translateX(-100%);
    width: 300px;
    z-index: 2;
    background: black;
    transition: transform 0.6s ease-in-out;
}
.show{
    transform: translateX(0);
}
#list{
    margin:70px 20px 0;
}
.sideBarHide .eg-anker{
    font-size: 1.5rem;
    font-family:  Montserrat, sans-serif;
    margin: 0 30px;
    text-decoration: none;
    color: white;
    padding: 10px 20px ;

    &:hover{
        border: 2px solid yellow;
        border-radius: 10px;
    }
}
.sideBarHide li{
    margin: 50px 0 0;
}

.learnMore_btn{
    height: 50px;
    width: 195px;
    display: grid;
    place-items: center;
    background-color: #E8662B;
    text-decoration: none;
    font-size: 1.125rem;
    text-transform: uppercase;
    color: white;
    letter-spacing: 2px;
    font-family: 'Open Sans', sans-serif;

    &:hover{
        background-color: #37638D;
    }
}
/* +++++   introduction Section  +++++ */

.intro_Container{
    max-width: 1140px;
    height: 1177px;
    margin: auto;
    position: relative;
}

.intro_Container .eg-colum{
    height: 100%;
    margin: auto;
    width: 360px;
    position: absolute;
    margin: 0 auto 0 343px;
    background-color: #E8662B;
}
.aboutHeading{
    height: 350px;
    width: 571px;
    padding: 70px 0 0 38px;
    background-color: #394D60;
    color: white;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 80px;
    z-index: 1;
}
.aboutHeading .eg-heading5{
    font-size: 20px;
    margin: 0 0 13px;
    letter-spacing: 3px;
    font-family:  Roboto, sans-serif;
    font-weight: 300;   
    text-transform: uppercase;
}
.aboutHeading .eg-heading1{
    font-size:4.25rem;
    font-family: Oswald, sans-serif;;
    line-height: 1.1;
    margin-top: 30px;
    font-weight: 400;
}
.carpainterImg{
    height: 590px;
    width: 730px;
    position: absolute;
    top: 245px;
    right: 0;
}
.carpainterImg .eg-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.intro_Overview{
    width: 1100px;
    position: absolute;
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    bottom: 70px;
    right: 40px;
}
.overviewCard{
    height: 320px;
    width: 260px;
    padding: 20px 40px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 7px 8px 24px 0 rgba(0, 0, 0, 0.5);
}
.svgIcon{
    height: 60px;
    width: 60px;
    background-color: aqua;
}
.overviewCard .eg-headign6{
    font-size: 1.125rem;
    font-weight: 500;
    font-family: 'PT Sans', sans-serif;
}
.overviewCard .eg-para{
    font-size: 1rem;
    font-style: italic;
    line-height: 1.8;
    font-family:'Open Sans', sans-serif;
}
/* ++++++++   trust section   ++++++++ */

.trust_Container{
    max-width: 1140px;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.trust_Container .eg-heading2{
    font-size: 3.75rem;
    font-family: 'Oswald',sans-serif;
    font-weight: 400;
}
.trust_Container .eg-para{
    font-size: 1.5rem;
    font-weight: 400;
    margin:16px 125px;
    line-height: 1.6;
    font-family: 'PT Sans', sans-serif;
}
.mission_strategy{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 15px;
    row-gap: 15px;
}
.about,.mission,.strategy{
    height: 350px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    color: white;
}
.about{
    background-color: #E8662B;
}
.strategy{
    background-color: #394D60;
}
.mission{
    background-color: white;
    color: black;
}
.mission_strategy .eg-heading3{
    font-size: 1.875rem;
    font-weight: 400;
    margin: 0 0 30px;
    font-family:  Montserrat, sans-serif;
}
.trust_Container .mission_strategy .eg-para{
    font-size: 1rem;
    line-height: 1.8;
    margin: 0 16px;
    font-family:  'Open Sans', sans-serif;;
}
.trussSystemimg1{
    background-image: url("https://images01.nicepage.com/c461c07a441a5d220e8feb1a/c1d380300c5153ab8cd2d608/worker-with-hard-hat-hammer-building-house_23-2148748857.jpg");
    background-position: 0 -113px;
    background-size: cover;
}
.trussSystemimg2{
    background-image: url("https://img.freepik.com/free-photo/construction-worker-sanding-down-wood-piece_23-2148748861.jpg");
    background-size: cover;
}
.trussSystemimg3{
    background-image: url("https://img.freepik.com/free-photo/construction-worker-sanding-down-wood-piece_23-2148748861.jpghttps://images01.nicepage.com/c461c07…/2f7cb96…/carpenter-man-working-wood_23-2148748789.jpg");
    background-size: cover;
}
/*   +++++++++   exeperience section   ++++++++++ */

.experience_Container{
    max-width: 1140px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(2,1fr);
}
.experience_Container .eg-right,
.experience_Container .eg-left {
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
}
.experience_Container .eg-right .eg-heading6,
.experience_Container .eg-left .eg-heading6{
    font-size: 1.125rem;
    line-height: 1.2;
    letter-spacing: 2px;
    font-weight: 700;
    font-family:  Montserrat, sans-serif !important;
}
.experience_Container .eg-right .eg-heading6{
    margin: 0 0 0 82px;
}
.experience_Container .eg-left .eg-heading6{
    margin: 96px 0 0 ;
}
.experience_Container .eg-para{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.8;
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
}
.experience_Container h6+.eg-para{
    margin: 20px 0 0 82px;
}
.experience_Container .eg-rightImg{
    height: 206px;
    width: 250px;
    margin: 20px 0 0;
}
.experience_Container .eg-rightImg img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.experience_Container div+.eg-para{
    margin: 35px auto 0;
}
.experience_Container .eg-para a{
    color: black;
    margin-left: 5px;
    text-decoration: none;
    padding-bottom: 2px;
    border: none;
    font-family: 'Open Sans', sans-serif;;
    border-bottom: 1px solid black;
}
.experience_Container .eg-right a{
    margin-top: 20px;
}
.experience_Container .eg-leftImg{
    height: 230px;
    width: 340px;
    margin: 15px 0 0 150px;
}
.experience_Container .eg-leftImg img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.experience_Container .eg-left ul{
    margin: 20px 0 0;
    list-style-type: none;
    line-height: 1.8;
}
.experience_Container .eg-left ul li::before{
    content: '\2714\0020';
    color: #E8662B;
    margin-right: 10px;
}
.experience_Container .eg-left ul li{
    font-family: 'Open Sans', sans-serif;;
    font-size: 1rem;
    font-weight: 400;
}


/*     ++++++++++   Team Section   */
.team{
    padding: 0;
}
.team_Container{
    width: 50%;
    margin-left: 0;
    height: 1200px;
    background-color: #E8662B;
    display: grid;
    font-family: 'Open Sans', sans-serif;
    grid-template-columns: repeat(5,1fr);
}
.team_Container .img1{
    height: 375px;
    width: 375px;
    border-radius: 50%;
    background-color: aqua;
    margin: 80px auto 0 calc(((100vw - 1240px) / 2));
    background-image: url("https://images01.nicepage.com/c461c07a441a5d220e8feb1a/e0c06604cf405273a21f391a/fddffy.jpg");
    background-size: cover;
}
.team_Container .img2{
    height: 555px;
    width: 555px;
    border-radius: 50%;
    background-color: yellow;
    margin: 276px auto 0 calc(((100% - 630px) / 2));
    background-image: url("	https://images01.nicepage.com/c461c07a441a5d220e8feb1a/8f49101b1c40520aafb1525a/fgg.jpg");
    background-size: cover;
}
.team_Container .img3{
    height: 375px;
    width: 375px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    margin: 700px auto 0 calc(((100% - 1190px) / 2));
    background-image: url("	https://images01.nicepage.com/c461c07a441a5d220e8feb1a/e16bb20aeb0a5c47a634de6f/kll.jpg");
    background-size: cover;
}
.team_Container .img4{
    height: 370px;
    width: 515px;
    display: flex;
    flex-direction: column;
    padding: 30px 50px;
    gap: 30px;
    background-color: #394D60;
    color: white;   
    margin: 704px auto 0 calc(((100% - 480px) / 2));
}
.team_Container .img4>h2{
    font-family: "Oswald", sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
}
.team_Container .img4>p{
    font-size: 1rem;
    line-height: 1.8;
}
.team_Container .img4>a{
    padding: 9px 0;
    text-decoration: none;
    width: 150px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    justify-content: center;
    border: 2px solid white;
    color: white;
    font-size: 1.1rem;
    font-weight: 500;
    background: transparent;
    &:hover{
        background-color: white;
        color: black;
    }
}
.team_Container .img4 .teamImg4para2{
    font-size: 1.2rem;
    word-spacing:4px;
}
.team_Container .img4 .teamImg4para2>a{
    margin-left:8px;
    text-decoration: none;
    padding-bottom: 3px;
    border-bottom: 1px solid white;
    color: white;
    &:hover{
        border: none;
        opacity: 0.8;
    }
}
.team_Container .img4 p+.eg-anker{
    font-size: 1rem;
}
.team_Container .img4 .eg-para{
    font-size: 1.125rem;
    letter-spacing: 1px;
}
.team_Container .img4 .eg-para .eg-anker{
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    margin: 0 0 0 7px;
    font-size: 1rem;
    border: none;
    border-bottom: 1px solid white;
}
.team_Container .img5{
    height: 375px;
    width: 375px;
    border-radius: 50%;
    background-color: greenyellow;
    background-image: url("	https://images01.nicepage.com/c461c07a441a5d220e8feb1a/d4234c4847045f1686ad5437/hg.jpg");
    background-size: cover;
    margin: 80px auto 0 calc(((100% - 480px) / 2));
}

/*   ++++++++   Department Section   ++++++++*/
.Department{
    padding: 0;
}
.department_Container{
    display: grid;
    grid-template-rows: 400px 360px;
    padding-top: 30px;
}
.backgroundFiller{
    background-color: #E8662B;
}
.cardContainer{
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    margin: auto;
}
.cards{
    height: 400px;
    width: 325px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    position: relative;
    top: 51px;
    padding: 30px;
}
.headImg{
    height: 60px;
    width: 60px;
    background-color: red;
    border-radius: 50%;
}
.headImg1{
    background-image: url("https://images03.nicepage.com/c461c07a441a5d220e8feb1a/41331264f4485f01ac2cbc0e/Untitled-1.jpg?version=");
    background-size: cover;
    background-position: 50% 50%;
}
.headImg2{
    background-image: url("https://images02.nicepage.com/c461c07a441a5d220e8feb1a/428a9a5ba2a652249d725203/ggg.jpg");
    background-size: cover;
    background-position: 50% 50%;
}
#card2{
    top: 221px;
}
.headImg3{
    background-image: url("https://images01.nicepage.com/c461c07a441a5d220e8feb1a/010ac69339d65642bb487735/sdasd.jpg");
    background-size: cover;
    background-position: 50% 50%;
}
.department_Container .cardContainer .cards .eg-para{
    font-size: 1.25rem;
    font-weight: 300;
    margin: 20px 0 0;
    text-align: center;
    line-height: 1.8;
    font-family: 'Open Sans', sans-serif;
}
.department_Container .cardContainer .cards .eg-headign6{
    font-size: 1.0625rem;
    font-weight: 400;
    line-height: 1.2;
    font-family: Montserrat,sans-serif;
    text-align: center;
    margin: 20px 0 0;
}
.cardContainer>div>h6>span{
    font-weight: 700;
}

/*   ++++++++++   wooden_structures   ++++++++++   */

.wooden_structures{
    padding: 0;
    background-color: white;
    max-height: 1300px;
    margin: 0 0 100px;
}
.structuresContainer{
    max-width: 1140px;
    /* height: 1040px; */
    margin: auto;
    background-color:#F2F2F2;
    position: relative;
    bottom: 386px;
    display: grid;
    grid-template-rows: 50% 40%;
    row-gap: 85px;
}
.wooden_structures .eg-bgfiller{
    height: 580px;
    background-color: #E8662B;
}
.structuresContainer .eg-img{
    height: 660px;
    width: 860px;
    margin: auto;
    position: relative;
    bottom: 114px;
}
.structuresContainer .eg-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.structuresContainer .eg-textPart{
    /* height: 100%; */
    width: 73%;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.structuresContainer .eg-textPart .eg-heading2{
    font-size: 3rem;
    font-weight: 400;
    line-height: 1.1;
    font-family:  Oswald, sans-serif;
}
.structuresContainer .eg-textPart h2+.eg-para{
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    margin: 20px 0 0;
    line-height: 1.8;
    font-weight: 400;
}
.structuresContainer .eg-textPart p+.eg-para{
    font-size: 1.125rem;
    letter-spacing: 1px;
    font-family:  'Open Sans', sans-serif;
    font-weight: 100;
    margin: 20px 0 0;
}
.structuresContainer .eg-textPart .eg-para a{
    color: black;
    letter-spacing: 2px;
    text-transform: capitalize;
    text-decoration: none;
    padding-bottom: 5px;
    border-bottom: 2px solid black;
}
.structuresContainer .eg-textPart .learnMore_btn{
    margin: 40px auto 0;
}

/*   ++++++++++   project Section   ++++++++++   */

.project{
    background-color: white;
}
.project .projectContainer{
    max-width: 1349px;
    padding: 0 90px;
    margin: auto;
    display: grid;
    grid-template-columns:35% 25% 30%;
    column-gap: 9px;
}
.projectContainer .eg-heading2{
    font-weight: 400;
    font-size: 2.25rem;
    line-height: 1.1;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Oswald, sans-serif;
}
.projectContainer .eg-para{
    padding: 20px 0 0;
    font-size: 1rem;
    line-height: 2;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
}
.projectContainer .projectCol3 .eg-para{
    padding: 18px 0 0 40px;
}
.projectContainer .projectCol3 .learnMore_btn{
    margin: 0 40px 0;

}
/* +++++++++++++++++++++++++++++++++++++++++++++++ */
.contactContainer{
    max-width: 1140px;
    height: 570px;
    margin: auto;
    display: grid;
    grid-template-columns:repeat(3,1fr);
}
.contactSectionImg{
    background-image: url("https://images01.nicepage.com/c461c07a441a5d220e8feb1a/c7e5d856c09152869fe219d2/image-engineering-objects-workplace-top-view-construction-concept-engineering-tools-vintage-tone-retro-filter-effect-soft-focus-selective-focus_14.jpg");
    background-size: cover;
    background-position: 50% 50%;
}
.contactForm{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
}
.contactForm>input{
    height: 60px;
    width: 360px;
    margin: 0 0 30px 0;
    padding: 0 0 0 20px;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid slategray;
    font-size:1.5rem;;

    &::placeholder{
        font-size: 1rem;
        color: slategray;
    }
}
.contactForm>textarea{
    max-height: 100px;
    max-width: 350px;
    height: 100px;
    width: 350px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid slategray;
    padding-left: 20px;

    font-size: 1.5rem;
    margin: 20px 0 50px;
    &::placeholder{
        color: slategray;
        font-size: 1rem;
    }
}
#formBtn{
    height: 50px;
    width: 90%;
    background-color: #E8662B;
    border: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: white;
    font-weight: 400;
    letter-spacing: 2px;
    &:hover{
        background-color: #333333;
    }
}
.detail{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    background-color: white;
    padding: 20px 50px;
    margin: 20px auto;

}
.detail>h6{
    font-size: 1.25rem;
    font-weight: 700;
    color: #E8662B;
    margin: 30px 0;
    font-family:  Montserrat, sans-serif;
}
.detail>p,.detail>ul>li{
    line-height: 1.8;
}
.detail>ul{
    list-style-type: none;
    list-style-position: inside;
}
.detail>ul>li::before{
    content: '\2714\0020';
    color:black;
    padding-right: 10px;
}
footer>div{
    height: 250px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;
    background: #333333;
}
footer>div>p{
    padding: 0 447px;
    text-align: center;
    line-height: 1.7;
    color: white;
}
.footerLink>a{
    color: lightblue;
    &:hover{
        color:#4d4a4a;
        text-decoration: none;
    }
}
.footerLink>span{
    color: white;
    margin: 0 3px;
}


@media only screen and 
(min-width:350px) and (max-width:600px){
    .navigetionBar{
        padding: 10px;
    }
    .section{
        padding: 0;
    }
    .intro_Container{
        height: 1900px;
    }
    .intro_Container .eg-colum{
        height: 1860px;
        width: 230px;
        margin: 0 0 0 50px;
    }
    .aboutHeading{
        height: 280px;
        width: 350px;
        letter-spacing: normal;
        left: 25px;
        padding: 30px 16px;
    }
    .aboutHeading .eg-heading1{
        font-size: 2.25em;
        line-height: 1.3;
        margin-top: 15px;
    }
    .carpainterImg{
        height: 257px;
        width: 286px;
        top:340px;
    }
    .intro_Overview{
        width: 317px;
        row-gap: 25px;
        grid-template-rows: repeat(4,1fr);
        grid-template-columns: 0;
        left:30px;
        top: 570px;
    }
    .overviewCard{
        height: 268px;
        width: 300px;
        padding: 20px;
    }
    .trust_Container{
        padding: 0;
    }
    .trust_Container .eg-heading2{
        font-size: 2.25rem;
    }
    .trust_Container .eg-para{
        margin:35px 22px;
    }
    .mission_strategy{
        grid-template-columns: 100%;
        grid-template-rows: repeat(6,1fr);
    }
    .about,.mission,.strategy{
        height: 300px;
        width: 340px;
        margin: auto;
    }
    .trussSystemimg1,.trussSystemimg2,.trussSystemimg3{
        height: 100%;
        width: 340px;
        margin: auto;
    }

    .experience_Container{
        grid-template-columns: 100%;
    }
    .experience_Container .eg-right .eg-heading6{
        margin: 0 0 0 20px; 
    }
    .experience_Container .eg-left .eg-heading6{
        margin-left:20px; 
    }
    .experience_Container h6+.eg-para{
        margin-left:20px;
    }
    .experience_Container .eg-rightImg{
        height: 220px;
        width: 266px;
    }
    .experience_Container .eg-leftImg{
        height: 218px;
        width: 298px;
        margin:0px;
    }
    .team_Container .img1{
        height: 236px;
        width: 236px;
        margin: 213px auto 0 calc(((100% - 118px) / 2));
    }
    .team_Container .img2{
        height: 270px;
        width: 270px;
        margin: 360px auto 0 calc(((100% - 285px) / 2));
    }
    .team_Container .img3{
        height: 185px;
        width: 185px;
        margin: 555px auto 0 calc(((100% - 312px) / 2));
        
    }
    .team_Container .img4{
        height: 410px;
        width: 340px;
        gap: 15px;
        padding-left: 45px;
        padding-right: 45px;
        z-index: 2;
        margin: 721px auto 0 calc(((100% - 600px) / 2));

    }
    .team_Container .img5{
        height: 195px;
        width: 195px;
        margin: 80px auto 0 calc(((100% - 337px) / 2));
    }

    .department_Container{
        grid-template-rows: 539px 390px; 
    }
    .cardContainer{
        padding: 0;
        grid-template-columns: 100%;
    }
    .cards{
        height: 300px;
        width: 300px;
        padding: 0;
    }
    #card2{
        top: 50px;
    }
    .wooden_structures .eg-bgfiller{
        height: 700px;
    }
    .structuresContainer{
        max-width:80%;
        grid-template-rows: 25% 75%;
        gap: 0;
    }
    .structuresContainer .eg-img{
        height: 250px;
        width: 280px;
    }
    .structuresContainer .eg-textPart{
        height: 100%;
        width: 82%;
        margin: auto;
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    .structuresContainer .eg-textPart h2+.eg-para{
        margin: 50px 0 0;
    }
    .structuresContainer .eg-textPart .learnMore_btn{
        margin: 60px auto 0;
    }

    .project .projectContainer{
        padding: 0 46px 30px;
        grid-template-columns: 100%;
        row-gap: 20px;
        bottom: 0;
    }
    .projectContainer .projectCol3 .eg-para{
        padding:0;
    }
    .projectContainer .projectCol3 .learnMore_btn{
        margin: 30px 40px 0;
    
    }
    .contactContainer{
        height: auto;
        grid-template-columns: 100%;
        padding-bottom: 30px;
    }
    .contactForm>input,.contactForm>textarea{
        max-width: 300px;
        width: 300px;
        margin: 20px auto;
    }
    .contactSectionImg{
        height: 360px;
        width: 303px;
        margin: 20px auto 0;
    }
    #formBtn{
        width: 300px;
        margin: 20px auto;
    }
    footer>div{
        height: 200px;
    }
    footer>div>p{
        padding: 0 19px;
    }
    .footerLink{
        font-size: 0.9rem;
    }
}

@media only screen and 
(min-width:601px) and (max-width:800px){
    .navigetionBar{
        padding: 10px;
    }
    .section{
        padding: 0;
    }
    .intro_Container{
        height:1500px;
    }
    .intro_Container .eg-colum{
        height: 1360px;
        width: 230px;
        margin: 0 0 0 50px;
    }
    .aboutHeading{
        height: 280px;
        width: 350px;
        letter-spacing: normal;
        left: 25px;
        padding: 30px 16px;
    }
    .aboutHeading .eg-heading1{
        font-size: 2.25em;
        line-height: 1.3;
        margin-top: 15px;
    }
    .carpainterImg{
        height: 300px;
        width: 400px;
        top:340px;
        left: 19%;
    }
    .intro_Overview{
        width:500px;
        row-gap: 25px;
        grid-template-rows: repeat(2,1fr);
        grid-template-columns: repeat(2,250px);
        bottom: 190px;
        left: 20px;
    }
    .overviewCard{
        height: 350px;
        width: 230px;
        padding: 20px;
    }
    .trust_Container{
        padding: 0;
    }
    .trust_Container .eg-heading2{
        font-size: 2.25rem;
    }
    .trust_Container .eg-para{
        margin:35px 22px;
    }
    .mission_strategy{
        grid-template-columns: 100%;
        grid-template-rows: 200px 540px;
    }
    .about,.mission,.strategy{
        height: 200px;
        width: 500px;
        margin: auto;
    }
    .trussSystemimg1,.trussSystemimg2,.trussSystemimg3{
        height: 540px;
        width: 500px;
        margin: auto;
    }

    .experience_Container{
        grid-template-columns: 100%;
    }
    .experience_Container .eg-right .eg-heading6{
        margin: 0 0 0 20px; 
    }
    .experience_Container .eg-left .eg-heading6{
        margin-left:20px; 
    }
    .experience_Container h6+.eg-para{
        margin-left:20px;
    }
    .experience_Container .eg-rightImg{
        height: 220px;
        width: 266px;
    }
    .experience_Container .eg-leftImg{
        height: 218px;
        width: 298px;
        margin-left:200px;
    }
    .team_Container .img1{
        height: 236px;
        width: 236px;
        margin: 213px auto 0 calc(((100% - 100px) / 2));
    }
    .team_Container .img2{
        height: 270px;
        width: 270px;
        margin: 360px auto 0 calc(((100% - 100px) / 2));
    }
    .team_Container .img3{
        height: 285px;
        width: 285px;
        margin: 555px auto 0 calc(((100% - 300px) / 2));
        
    }
    .team_Container .img4{
        height: 340px;
        width: 380px;
        gap: 15px;
        padding: 20px 30px;
        z-index: 2;
        margin: 721px auto 0 calc(((100% - 500px) / 2));

    }
    .team_Container .img5{
        height: 195px;
        width: 195px;
        margin: 80px auto 0 calc(((100% - 300px) / 2));
    }

    .department_Container{
        grid-template-rows: 480px 300px; 
    }
    .cardContainer{
        padding: 0;
        grid-template-columns: 100%;
    }
    .cards{
        height: 230px;
        width: 520px;
        padding: 0;
    }
    #card2{
        top: 50px;
    }
    .wooden_structures .eg-bgfiller{
        height: 700px;
    }
    .structuresContainer{
        max-width:92%;
        grid-template-rows: 25% 75%;
        gap: 0;
    }
    .structuresContainer .eg-img{
        height: 350px;
        width: 480px;
    }
    .structuresContainer .eg-textPart{
        height: 100%;
        width: 80%;
        margin: auto;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .structuresContainer .eg-textPart h2+.eg-para{
        margin: 50px 0 0;
    }
    .structuresContainer .eg-textPart .learnMore_btn{
        margin: 60px auto 0;
    }

    .project .projectContainer{
        padding: 0 46px 30px;
        grid-template-columns: 100%;
        row-gap: 20px;
        bottom: 0;
    }
    .projectContainer .projectCol3 .eg-para{
        padding:0;
    }
    .projectContainer .projectCol3 .learnMore_btn{
        margin: 30px 40px 0;
    
    }
    .contactContainer{
        height: auto;
        grid-template-columns: 100%;
        padding-bottom: 30px;
    }
    .contactForm>input,.contactForm>textarea{
        max-width: 600px;
        width: 500px;
        margin: 20px auto;
    }
    .detail{
        width: 84%;
    }
    .contactSectionImg{
        height: 360px;
        width: 84%;
        margin: 20px auto 0;
    }
    #formBtn{
        width: 300px;
        margin: 20px auto;
    }
    footer>div{
        height: 200px;
    }
    footer>div>p{
        padding: 0 19px;
    }
    .footerLink{
        font-size: 0.9rem;
    }
}

@media only screen and 
(min-width:801px) and (max-width:1100px){
    .navigetionBar{
        padding: 10px;
    }
    .section{
        padding: 0;
    }
    .intro_Container{
        height:1500px;
    }
    .intro_Container .eg-colum{
        height: 1360px;
        width: 510px;
        margin: 0 0 0 90px;
    }
    .aboutHeading{
        height: 380px;
        width: 515px;
        letter-spacing: normal;
        left: 25px;
        padding: 30px;
    }
    .aboutHeading .eg-heading1{
        line-height: 1.3;
        margin-top: 15px;
    }
    .carpainterImg{
        height: 474px;
        width: 600px;
        top:390px;
        left: 19%;
    }
    .intro_Overview{
        width:auto;
        row-gap: 25px;
        grid-template-rows: repeat(2,1fr);
        grid-template-columns: repeat(2,250px);
        bottom: 190px;
        left: 20px;
        column-gap: 106px;
    }
    .overviewCard{
        height:252px;
        width: 319px;
        padding: 20px;
    }
    .trust_Container{
        padding: 0;
    }
    .trust_Container .eg-heading2{
        font-size: 2.25rem;
    }
    .trust_Container .eg-para{
        margin:35px 22px;
    }
    .mission_strategy{
        height: 900px;
        padding: 40px;
        grid-template-columns:repeat(3,1fr);
        grid-template-rows: repeat(2,1fr);
    }
    .about,.mission,.strategy{
        height: 100%;
        width: 100%;
        margin: auto;
    }
    .trussSystemimg1,.trussSystemimg2,.trussSystemimg3{
        height: 100%;
        width: 100%;
        margin: auto;
        background-position: 50% 50%;
    }
    .experience_Container{
        grid-template-columns:repeat(2,1fr);
    }
    .experience_Container .eg-left{
        padding: 0;
    }
    .experience_Container .eg-right .eg-heading6{
        margin: 0 0 0 20px; 
    }
    .experience_Container .eg-left .eg-heading6{
        margin-left:20px; 
    }
    .experience_Container h6+.eg-para{
        margin-left:20px;
    }
    .experience_Container .eg-rightImg{
        height: 220px;
        width: 266px;
    }
    .experience_Container .eg-leftImg{
        height: 218px;
        width: 298px;
    }
    .team_Container .img1{
        height: 236px;
        width: 236px;
        margin: 213px auto 0 calc(((100% - 100px) / 2));
    }
    .team_Container .img2{
        height: 270px;
        width: 270px;
        margin: 360px auto 0 calc(((100% - 175px) / 2));
    }
    .team_Container .img3{
        height: 285px;
        width: 285px;
        margin: 555px auto 0 calc(((100% - 300px) / 2));
        
    }
    .team_Container .img4{
        height: 380px;
        width: 430px;
        gap: 15px;
        padding: 20px 30px;
        z-index: 2;
        margin: 790px auto 0 calc(((100% - 598px) / 2));

    }
    .team_Container .img5{
        height: 195px;
        width: 195px;
        margin: 25px auto 0 calc(((100% - 525px) / 2));
    }

    .department_Container{
        grid-template-rows:320px 270px; 
    }
    .cardContainer{
        padding: 0;
        grid-template-columns:repeat(3,1fr)
    }
    .cards{
        height: 362px;
        width: 219px;
        padding: 0;
    }
    #card2{
        top: 130px;
    }
    .wooden_structures{
        margin: 0;
        height: 1060px;
    }
    .wooden_structures .eg-bgfiller{
        height: 270px;
    }
    .structuresContainer{
        max-width:92%;
        display: block;
        bottom: 100px;
        padding-bottom: 70px;
    }
    .structuresContainer .eg-img{
        height: 350px;
        width: 480px;
    }
    .structuresContainer .eg-textPart{
        width: 80%;
        margin: auto;
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    .structuresContainer .eg-textPart h2+.eg-para{
        margin: 50px 0 0;
    }
    .structuresContainer .eg-textPart .learnMore_btn{
        margin: 60px auto 0;
    }

    .project .projectContainer{
        grid-template-columns: 32% 30% 35% ;
        padding: 0 38px;
        bottom: 0;
    }
    .projectContainer .projectCol3 .eg-para{
        padding:20px
        ;
    }
    .projectContainer .projectCol3 .learnMore_btn{
        margin: 20px 20px 30px;
        height: 50px;
        width: 160px;
    }
    .contactForm>input,.contactForm>textarea{
        max-width: 150px;
        width: 150px;
        margin: 20px auto;
    }
    .detail{
        width: 94%;
        padding: 0 0 0 20px;
    }
    .contactSectionImg{
        height: 93%;
        width: 84%;
        margin: 20px auto 0;
    }
    #formBtn{
        width: 300px;
        margin: 20px auto;
    }
    footer>div{
        height: 200px;
    }
    footer>div>p{
        padding: 0 19px;
    }
    .footerLink{
        font-size: 0.9rem;
    }
}


